---
- name: Установка nginx
  hosts: webservers
  become: yes
  tasks:
    - name: Установка nginx
      apt:
        name: nginx
        state: latest
    - name: Замена index.html
      copy:
        src: ./index.html
        dest: /var/www/html/index.nginx-debian.html
    - name: Запуск nginx
      service:
        name: nginx
        state: restarted
        enabled: yes